@import 'normalize';

.home {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position-x: 300px;
    background-repeat: no-repeat;
    transition: background-position-x cubic-bezier(0.82, 0, 0.44, 0.93) 1s;

    * {
        font-weight: 400;
    }

    &-dev{
        background-image: url('images/dev-bg.jpg');
    }
    &-name{
        background-image: url('images/fab.jpg');
    }
    &-photo{
        background-image: url('images/flamezzz.gif');
        background-size: 150px;
        background-repeat: repeat;
    }
    &-blog {
        background-image: url('images/sick.jpg');
    }
    &-twitter {
        background-image: url('images/homebg.jpg');
    }
    &-slide{
        background-position-x: 0px;
        transition: background-position-x ease .4s;
    }

    &--block{
        width: 100%;
        position: relative;
        margin-right: 0px;
        transition: all ease .2s;

        &--wrapper {
            padding-left: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }

        h1 {
            background-color: #fff;
            padding: 15px;
            padding-right: 50px;
            display: inline-block;
            margin: 10px 0;
            border-radius: 4px;
        }

        &__shift {
            margin-right: 120px;
            transition: al lease .2s;
        }

        &__slider {
            background-color:#fff;
            height: 100vh;
            position: relative;
            right: 0;
            transition: all cubic-bezier(0.82, 0, 0.44, 0.93) 1s;

            &--slide {
                transition: all ease .4s;
                right:60%;
            }
        }
    }

    &--left {
        width: 20px;
        height: 100vh;
        left: 0;
        z-index: 10;

        div {
            height: 20vh;
        }

        &__block1{
            background-color: #271F30;
        }
        &__block2{
            background-color: #8EB8E5;
        }
        &__block3{
            background-color: #D76A03;
        }
        &__block4{
            background-color: #E5E059;
        }
        &__block5{
            background-color: #8C1C13;
        }
    }

    &--block {

        &__name {
            color: #d76a03;
        }
        &__dev{
            color: #8EB8E5;
        }
        &__photo {
            color: #E5E059;
        }
        &__email {
            color: #d76a03;
        }
        &__blog {
            color: #271F30;
        }
        &__twitter {
            color: #8EB8E5;
        }
    }


}

.logo {
    height: 125px;
    display: block;
    top: 30px;
    position: absolute;
    z-index: 10;
    left: 20px;
    right: 20px;
}


.App-header {
    h2{
        color: green;
    }
}
