.top-nav-container {
  right: 0;
  position: fixed;
  z-index: 1000000;
  display: flex;
}

.top-nav--items {
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;

  li {
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
  }

  .link-item {
    text-decoration: none;
    color: black;
  }
}


.top-nav-active {
  .top-nav-container{
    opacity: 1;
    transition: ease;
  }
}

.flex-nav-active {
  .top-nav-container {
    opacity: 0;
    transition: ease;
  }
}

.open_slider {
  transition: cubic-bezier(0.82, 0, 0.44, 0.93);
  width: 0px;
}
