@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "components/nav";

$tablet: new-breakpoint(max-width 960px 4);
$mobile: new-breakpoint(max-width 680px 4);

section {
  @include outer-container;
  aside {
    @include span-columns(3);
    @include media($mobile){
      @include span-columns(4);
    }
  }
  article {
    @include span-columns(9);
    @include media($mobile){
      @include span-columns(4);
    }
  }
}

/* ##################################
################# HERO ##############
####################################*/


.hero{
  @include background(url("/images/hero-bg.jpg"), bottom no-repeat fixed);
  background-position-y: -150px;
  background-size:cover;
  min-height: 200px;
  height: 65vh;
  position: relative;
  background-attachment: fixed;
}
.hero  img {
    max-width: 150px;
  }
.hero .info {
    width: 80% !important;
    color: #fff;
    padding-left: 175px;
    font-size: 2rem;
    font-weight: 300;
}
.hero > img, .hero .info {
    display: inline-block;
    position: absolute;
    margin-left: 10%;
    bottom: 50px !important;
}
.info span {
    bottom: 6px !important;
}

// @media only screen and (max-width: 680px){
//
// .photo.open-photo{
//   height: 500px;
//   width: auto;
// }
//
// .open-photo > img {
// display: block;
// position: relative;
//  margin-left: auto;
// margin-right: auto;
// top: 200px;
// width: 80%;
// height: auto;
// }
// }
